<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
</head>
    <body>
        <div th:each="customer : ${customers}">
            <a th:href="@{/customers/{id}(id=${customer.getId()})}"
               th:text="${customer.getName() + ', '
               + customer.getDocumentNumber() + ', '
               + customer.getPhoneNumber() + ', '
               + customer.getEmail()}">customer</a>
        </div>

        <br/>
        <hr/>

        <a href="/bicycles/new">Add new customer</a>
    </body>
</html>